# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore Excel and output files
*.xlsx
orders_output/
orders_output.zip

# Ignore virtual environment folders
venv/
.env/

# Ignore system-specific files
.DS_Store
Thumbs.db

# Ignore IDE/project configuration files
.vscode/
.idea/

# Streamlit generated folders (optional)
.streamlit/
